{% extends 'recipeapp/base.html' %}

{% block title %}
    Изменение продукта
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Изменить продукт</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-success">Сохранить изменения</button>
            <a href="{% url 'recipeapp:ingredient_details' pk=object.pk %}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
{% endblock %}