{% extends 'recipeapp/base.html' %}

{% block title %}
    Список продуктов
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Список продуктов</h1>
        {% if ingredients %}
            <div class="list-group">
                {% for ingredient in ingredients %}
                    <a href="{% url 'recipeapp:ingredient_detail' pk=ingredient.pk %}" class="list-group-item list-group-item-action">
                        <strong>{{ ingredient.name }}</strong> - {{ ingredient.description }} ({{ ingredient.measure }})
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <h3>Продуктов еще нет...</h3>
        {% endif %}
        <div class="mt-3">
            <a href="{% url 'recipeapp:ingredient_create' %}" class="btn btn-success">Создать новый продукт</a>
        </div>
    </div>
{% endblock %}